.mapa{
    width: 40pc;
    margin: 1%;

}

.l1{
    margin-top: 9%;
    background-color: rgb(80, 80, 240);
    border: 3px solid blue;
    width: 2pc;
    height: 2pc;
}

.title{
    display: flex;
}

.nombres li{
    margin: 15px;
}

.nombres li:hover{
    cursor: pointer;
    color: blueviolet;
}

h3{
    margin-top: 5rem;
}

table{
    text-align: center;
}

td:hover{
    cursor: pointer;
    color: blueviolet;
}

.flex{
    display: flex;

}

.flexColumn{
    display: flex;
    flex-direction: column;
}

p{
    text-align: center;
    margin-top: 2rem;
}